/* css for dark_mode sticky notes */

body, .content{
    display: flex;
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 15px;
    background-color: rgb(24, 24, 24);
    color:rgb(240, 240, 204);
    width: 100vw;
    height: 100vh;
    margin: 0px;
    border: 0px;
    padding: 0px;
    overflow-x: hidden;
    overflow-y: hidden;
}
.fill-space {
    flex: auto;
}
.content {
    position: absolute;
    top: 20px;
    overflow-y: auto;
}

#ribbon {
    display: flex;
    position: fixed;
    flex-direction: row;
    align-items: center;
    justify-content: left;

    top: 0px;
    left: 0px;
    margin: 0px;
    padding: 0px;
    width: 100vw;
    height: 20px;

    background-color: rgb(255, 92, 92);
    -webkit-app-region: drag;
}

.ribbon-item {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px;

    width: 40px;
    height: 20px;
    transition: background-color 250ms ease-in-out;
}
.ribbon-item:hover {
    background-color: bisque;
    -webkit-app-region: no-drag;
}

#close:hover {
    background-color: rgb(248, 31, 31);
}

.ribbon-item img{
    -webkit-app-region: no-drag;
    width: 20px;
    height: 20px;
}

#footer{
    display: flex;
    position: fixed;
    flex-direction: row;
    align-items: center;
    justify-content: left;

    width: 100vw;
    bottom: 0px;
    height: 30px;
}

hr {
    border: 0;
    display: flex;
    width: 80vw;
    background-color: rgb(240, 240, 204);
    height: 1px;
}

#note-stuff{
    background-color: rgb(24, 24, 24);
    color: rgb(240, 240, 204);
    border: none;
    outline: none;
    margin: 15px;
    height: 100%;
    width: 90%;
    position: absolute;  
    top: 35px;  
}

#note-name:focus{
    outline: none;
}

.sidebar{
    width: 30vw;
    height: 100vh;
    z-index: 2;

    overflow-x: hidden;
    overflow-y: auto;

    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;

    left: -30vw;
    top: 20px;
    background-color:rgb(10, 10, 10);
    --shift: 0vw;

    transform: translateX(var(--shift));
    transition: transform 250ms ease-in-out;
}

/* not sure why this is here */
.saved-note p {
    color: bisque;
    position: relative;
    font-size: 15px;
    left: 4px;
}

ul.saved-notes {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    
    width: 30vw;
    height: 100vh;

    margin: 0px;
    padding: 0px;
    list-style: none;
    position: relative;

}

li.saved-note {
    display: flex;
    align-items: center;
    justify-content: left;

    width: 25vw;
    height: 30px;

    margin: 5px 0px 5px 0px;

    border-radius: 15px;

    transition: background-color 100ms ease-in-out;
}

li.saved-note:hover {
    background-color: rgb(24, 24, 24);
}


.content::-webkit-scrollbar, .sidebar::-webkit-scrollbar {
    width: 10px;
    height: 5px;
    background-color: rgb(24, 24, 24)
}

.content::-webkit-scrollbar-thumb, .sidebar::-webkit-scrollbar {
    background-color: rgb(240, 240, 204);
    border: 3px solid rgb(24, 24, 24);
    border-radius: 30px;
    max-height: 20px;
}

.content::-webkit-scrollbar-track:hover, .sidebar::-webkit-scrollbar:hover {
    opacity: 0.5;
}